.container {
    display: flex;
    margin: 20px auto;
    text-align: center;
    flex-direction: column;
    align-items: center;

    max-width: 90vw;
    height: 100vh;
}

.logo-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;

    max-width: 600px;
    margin-bottom: 50px;
    text-align: center;
}

/* 
    site-container containts both
    character-container and upload-form-container
*/
.site-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;

    max-width: 100vw;
    margin: 0 auto;
}

.character-container {
    display: flex;
    flex: 1;
    align-items: flex-end;
    text-align: center;
}

.upload-form-container {
    display: flex;
    flex: 1 1 0%;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    /* padding: 0 20px; */
}