@font-face {
    font-family: 'Modernist';
    src: url('fonts/Sk-Modernist-Regular.otf') format('opentype');
}

body {
    font-family: 'Modernist', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1eff2;
    color: #983d50;
    height: 100vh;
}

.predicted-label {
    font-size: 1.5em; /* Adjust the font size as needed */
    /* You can add other styles such as font-weight, color, etc. */
}
