h1 {
    font-family: 'Modernist', Arial, sans-serif;
    margin: 0;
    font-weight: 500;
}

p {
    font-family: Arial, sans-serif;
    margin: 0;
    font-weight: 0;
}

h1.nebula-logo {
    font-size: 100px;
    color: #983d50;
    margin: 0;
    padding: 0;
}

.logo-img {
    width: 100px;
    height: auto;
}